%montserrat-bold {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}
%montserrat-semi-bold {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}
%montserrat-medium {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}
%montserrat-regular {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}
%montserrat-extra-bold {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
}

$primary: #252b42;
$secondary: #737373;
